extends ../home-view
block action
  .container-fluid.h-100
    .row.h-auto
      .col-sm-12.col-md-12.col-lg-12.col-xl-12.h-auto.p-0
        .container-fluid
          .row
            .col-sm-12.col-md-12.col-lg-12.col-xl-12.pt-2.pl-2.pr-2
              if count
                button.btn.btn-dark.w-100(type='button')
                  | Carousel multimedia existentes 
                  span.badge.badge-light=count.length 
            .col-sm-12.col-md-12.col-lg-12.col-xl-12.pt-2.pl-2.pr-2.pb-2
              if message 
                if code == 500
                  .alert.alert-danger.alert-dismissible.fade.show.text-center(role='alert')
                    strong=message
                    button.close(type='button' data-dismiss='alert' aria-label='Close')
                      span(aria-hidden='true') &times;
                else
                  .alert.alert-success.alert-dismissible.fade.show.text-center(role='alert')
                    strong=message
                    button.close(type='button' data-dismiss='alert' aria-label='Close')
                      span(aria-hidden='true') &times;
              .card.w-100
                .card-body
                  nav
                    #nav-tab.nav.nav-tabs(role="tablist")
                      a#nav-home-tab.nav-item.nav-link.active(data-toggle="tab" href="#nav-search" role="tab" aria-controls="nav-search" aria-selected="true")
                        | Consultar carousels multimedia existentes
                      a#nav-profile-tab.nav-item.nav-link(data-toggle="tab" href="#nav-create" role="tab" aria-controls="nav-create" aria-selected="false")
                        | Crear un nuevo carousel multimedia
                    #nav-tabContent.tab-content
                      #nav-search.tab-pane.fade.show.active(role="tabpanel" aria-labelledby="nav-home-tab")
                        .col-sm-12.col-md-12.col-lg-12.col-xl-12.overflow-auto
                          br
                          table#tableContent.table(style="width:100%")
                            thead
                              tr
                                th.col-form-label-sm Número
                                th.col-form-label-sm División
                                th.col-form-label-sm Posición
                                th.col-form-label-sm Nombre
                                th.col-form-label-sm Link
                                th.col-form-label-sm Tipo
                                th.col-form-label-sm Intervalo
                                th.col-form-label-sm Fecha de creación
                                th.col-form-label-sm Fecha de modificación
                                th.col-form-label-sm Estatus
                                th.col-form-label-sm
                                th.col-form-label-sm
                            tbody
                              if data
                                each val in data
                                  tr
                                    td.col-form-label-sm= val.id
                                    td.col-form-label-sm= val.division
                                    td.col-form-label-sm= val.position
                                    td.col-form-label-sm= val.name
                                    td.col-form-label-sm
                                      if val.link
                                        if val.type == 'imagen'
                                          img.rounded-0.zoom.p-1(data-src='holder.js/75x75' alt= val.name src= val.link data-holder-rendered='true' style='width: 75px; height: 75px;')
                                        else
                                          .embed-responsive.embed-responsive-16by9
                                            iframe.embed-responsive-item(src= val.link, allowfullscreen='') 
                                    td.col-form-label-sm= val.type
                                    td.col-form-label-sm= val.interval
                                    td.col-form-label-sm= val.creation_date
                                    td.col-form-label-sm= val.modification_date
                                    td.col-form-label-sm= val.status
                                    td.col-form-label-sm
                                      a.btn.btn-outline-primary.btn-sm(href="" data-toggle="modal" data-target="#editCarousel" data-whatever= val.id)
                                        svg.bi.bi-pencil-square(width="1.3em" height="1.3em" viewbox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg")
                                          path(d="M15.502 1.94a.5.5 0 010 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 01.707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 00-.121.196l-.805 2.414a.25.25 0 00.316.316l2.414-.805a.5.5 0 00.196-.12l6.813-6.814z")
                                          path(fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 002.5 15h11a1.5 1.5 0 001.5-1.5v-6a.5.5 0 00-1 0v6a.5.5 0 01-.5.5h-11a.5.5 0 01-.5-.5v-11a.5.5 0 01.5-.5H9a.5.5 0 000-1H2.5A1.5 1.5 0 001 2.5v11z" clip-rule="evenodd")
                                    td.col-form-label-sm
                                      a.btn.btn-outline-primary.btn-sm(href='/home/carousel/download?id=' + val.multimedia)
                                        svg.bi.bi-download(width='1em', height='1em', viewBox='0 0 16 16', fill='currentColor', xmlns='http://www.w3.org/2000/svg')
                                          path(fill-rule='evenodd', d='M.5 8a.5.5 0 01.5.5V12a1 1 0 001 1h12a1 1 0 001-1V8.5a.5.5 0 011 0V12a2 2 0 01-2 2H2a2 2 0 01-2-2V8.5A.5.5 0 01.5 8z', clip-rule='evenodd')
                                          path(fill-rule='evenodd', d='M5 7.5a.5.5 0 01.707 0L8 9.793 10.293 7.5a.5.5 0 11.707.707l-2.646 2.647a.5.5 0 01-.708 0L5 8.207A.5.5 0 015 7.5z', clip-rule='evenodd')
                                          path(fill-rule='evenodd', d='M8 1a.5.5 0 01.5.5v8a.5.5 0 01-1 0v-8A.5.5 0 018 1z', clip-rule='evenodd')
                      #nav-create.tab-pane.fade(role="tabpanel" aria-labelledby="nav-profile-tab")
                        div#errorAlert
                        form.needs-validation.mt-3(novalidate, action='/home/carousel/', method='post')
                          .form-row
                            .form-group.col-md-12
                              label.col-form-label.col-form-label-sm(for='division')
                                | División:
                              .input-group.input-group-sm
                                select#selectId.custom-select(required='' name='division')
                                  option(selected value='') ....
                                  if divisions
                                    each val in divisions
                                      option(value= val.id)= val.name
                                .input-group-append
                                  a#btn-multimedia.btn.btn-outline-dark.btn-warning(type='button') 
                                    | Agregar archivo multimedia
                                .invalid-tooltip
                                  | Seleccione la división
                          div#div-multimedia.form-row   
                          .form-row
                            .input-group.input-group-sm.mb-3.mt-2
                              .custom-control.custom-switch.input-group-sm.w-auto.col-12
                                input#customSwitch6.custom-control-input.w-auto(type="checkbox" name='status' value='1' required)
                                label.custom-control-label(for="customSwitch6")
                                | Activar
                                .invalid-tooltip
                                  | Active el carousel
                            button.btn.btn-outline-dark.btn-primary.btn-sm.text-light(type="submit")
                              | Guardar                
    #editCarousel.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalCenterTitle' aria-hidden='true')
      .modal-dialog.modal-dialog-centered(role='document')
        .modal-content
          .modal-header.fsp-blue.text-light
            h5.modal-title.text-center.col-11
              | Actualización de Carousel
            button.close.fs.col-1(type='button' data-dismiss='modal' aria-label='Close')
              span(aria-hidden='true') &times;
          .modal-body
            form.needs-validation(novalidate="", action='/home/carousel/update/', method='post')
              .form-row
                .col-12.col-sm-12.col-md-12.col-lg-12.col-xl-12
                input#id.form-control.form-control-sm(type='hidden' pattern='[0-9]+' minlength='1' maxlength='3' name='id' aria-label="multimedia id" aria-describedby='multimedia id')
              .form-row
                label.col-form-label.col-form-label-sm(for='division')
                  | División:
                .input-group.input-group-sm
                  select#division.custom-select(required='' name='division')
                    option(selected value='') ....
                    if divisions
                      each val in divisions
                        option(value= val.id)= val.name
                  .invalid-tooltip
                    | Seleccione la división
              .form-row
                label.col-form-label.col-form-label-sm(for='name')
                  | Archivo multimedia:
                .input-group.input-group-sm
                  select#multimedia.custom-select.custom-select-sm(name='multimedia', required='')
                    option(value='') ....
                      if multimedias
                        each val in multimedias
                          option(value= val.id)= val.name
                  .invalid-tooltip 
                    | Seleccione el archivo multimedia
              .form-row
                label.col-form-label.col-form-label-sm(for='name')
                  | Intervalo de tiempo:
                input#interval.form-control.form-control-sm(type='number' name='interval' pattern='[0-9]+' minlength='4' maxlength='6' aria-label="Recipient's username" aria-describedby='button-addon1' required)
                .invalid-tooltip
                  | Ingrese el Intervalo de tiempo
              .form-row
                .input-group.input-group-sm.mb-3
                  .custom-control.custom-switch.input-group-sm.w-auto.col-12.text-center
                    input#switch-active.custom-control-input.w-auto(type="checkbox" name='status')
                    label.custom-control-label(for="switch-active")
                      | Activar
                button.btn.btn-outline-dark.btn-light.btn-sm.text-center.col-12(type='submit')
                  | Actualizar