extends ../home-view
block action
  .container-fluid.h-100
    .row.h-auto
      .col-sm-12.col-md-12.col-lg-12.col-xl-12.h-auto.p-0
        .container-fluid
          .row
            .col-sm-12.col-md-12.col-lg-12.col-xl-12.pt-2.pl-2.pr-2
              if data
                button.btn.btn-dark.w-100(type='button')
                  | Usuarios existentes 
                  span.badge.badge-light=data.length 
            .col-sm-12.col-md-12.col-lg-12.col-xl-12.pt-2.pl-2.pr-2.pb-2
              if message 
                if code == 500
                  .alert.alert-danger.alert-dismissible.fade.show.text-center(role='alert')
                    strong=message
                    button.close(type='button' data-dismiss='alert' aria-label='Close')
                      span(aria-hidden='true') &times;
                else
                  .alert.alert-success.alert-dismissible.fade.show.text-center(role='alert')
                    strong=message
                    button.close(type='button' data-dismiss='alert' aria-label='Close')
                      span(aria-hidden='true') &times;
              .card.w-100
                .card-body
                  nav
                    #nav-tab.nav.nav-tabs(role="tablist")
                      a#nav-home-tab.nav-item.nav-link.active(data-toggle="tab" href="#nav-search" role="tab" aria-controls="nav-search" aria-selected="true")
                        | Consultar usuarios existentes
                      a#nav-profile-tab.nav-item.nav-link(data-toggle="tab" href="#nav-create" role="tab" aria-controls="nav-create" aria-selected="false")
                        | Crear un nuevo usuario
                    #nav-tabContent.tab-content
                      #nav-search.tab-pane.fade.show.active(role="tabpanel" aria-labelledby="nav-home-tab")
                        .col-sm-12.col-md-12.col-lg-12.col-xl-12.overflow-auto
                          br
                          table#tableContent.table(style="width:100%")
                            thead
                              tr
                                th.col-form-label-sm Número
                                th.col-form-label-sm Nombre
                                th.col-form-label-sm Apellido paterno
                                th.col-form-label-sm Apellido materno
                                th.col-form-label-sm Correo electrónico
                                th.col-form-label-sm Rol
                                th.col-form-label-sm Fecha de creación
                                th.col-form-label-sm Fecha de modificación
                                th.col-form-label-sm Estatus
                                th.col-form-label-sm
                            tbody
                              if data
                                each val in data
                                  tr
                                    td.col-form-label-sm= val.id
                                    td.col-form-label-sm= val.name
                                    td.col-form-label-sm= val.first_name
                                    td.col-form-label-sm= val.last_name
                                    td.col-form-label-sm= val.email
                                    td.col-form-label-sm= val.role
                                    td.col-form-label-sm= val.creation_date
                                    td.col-form-label-sm= val.modification_date
                                    td.col-form-label-sm= val.status
                                    td.col-form-label-sm
                                      a.btn.btn-outline-primary.btn-sm(href="" data-toggle="modal" data-target="#editUser" data-whatever= val.id)
                                        svg.bi.bi-pencil-square(width="1.3em" height="1.3em" viewbox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg")
                                          path(d="M15.502 1.94a.5.5 0 010 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 01.707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 00-.121.196l-.805 2.414a.25.25 0 00.316.316l2.414-.805a.5.5 0 00.196-.12l6.813-6.814z")
                                          path(fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 002.5 15h11a1.5 1.5 0 001.5-1.5v-6a.5.5 0 00-1 0v6a.5.5 0 01-.5.5h-11a.5.5 0 01-.5-.5v-11a.5.5 0 01.5-.5H9a.5.5 0 000-1H2.5A1.5 1.5 0 001 2.5v11z" clip-rule="evenodd")
                      #nav-create.tab-pane.fade(role="tabpanel" aria-labelledby="nav-profile-tab")
                        form.needs-validation(novalidate="", action='/home/users/', method='post')
                          .form-row
                            .col-md-4.mb-3
                              label.col-form-label.col-form-label-sm(for='name')
                                | Nombre (s):
                              input.form-control.form-control-sm(type='text' name='name' minlength='2' maxlength='50' pattern='[a-zA-ZÁÉÍÓÚÑ-ñáéíóú\\s0-9]+' aria-label="user name" aria-describedby='user name' required='')
                              .invalid-tooltip
                                | Ingrese el nombre del usuario
                            .col-md-4.mb-3
                              label.col-form-label.col-form-label-sm(for='first_name')
                                | Apellido paterno:
                              input.form-control.form-control-sm(type='text' name='first_name' minlength='2' maxlength='50' pattern='[a-zA-ZÁÉÍÓÚÑ-ñáéíóú\\s0-9]+' aria-label="user first name" aria-describedby='user first name' required='')
                              .invalid-tooltip
                                | Ingrese el apellido paterno del usuario
                            .col-md-4.mb-3
                              label.col-form-label.col-form-label-sm(for='last_name')
                                | Apellido materno:
                              input.form-control.form-control-sm(type='text' name='last_name' minlength='2' maxlength='50' pattern='[a-zA-ZÁÉÍÓÚÑ-ñáéíóú\\s0-9]+' aria-label="user last name" aria-describedby='user last name' required='')
                              .invalid-tooltip
                                | Ingrese el apellido materno del usuario
                          .form-row
                            .col-md-6.mb-3
                              label.col-form-label.col-form-label-sm(for='email')
                                | Correo electrónico:
                              input.form-control.form-control-sm(type='email' name='email' minlength='2' maxlength='50' pattern=".+@fsanpablo.com" size="30" aria-label="user email" aria-describedby='user email' required='')
                              small#emailHelp.form-text.text-muted
                                | * Solo es posible registrar correos con dominio @fsanpablo.com
                              .invalid-tooltip
                                | Ingrese el correo electrónico del usuario
                            .col-md-6.mb-3
                              label.col-form-label.col-form-label-sm(for='rol')
                                | Rol:
                              select#rol.custom-select.custom-select-sm(required='' name='rol')
                                option(selected value='') ....
                                if roles
                                  each val in roles
                                    option(value= val.id)= val.name
                              .invalid-tooltip
                                | Seleccione un rol para el usuario
                          .form-row
                            .input-group.input-group-sm.mb-3
                              .custom-control.custom-switch.input-group-sm.w-auto.col-12
                                input#customSwitch6.custom-control-input.w-auto(type="checkbox" name='status' value='1' required)
                                label.custom-control-label(for="customSwitch6")
                                | Activar
                                .invalid-tooltip
                                  | Active el usuario
                            button.btn.btn-outline-dark.btn-primary.btn-sm.text-light(type="submit")
                              | Crear
    #editUser.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalCenterTitle' aria-hidden='true')
      .modal-dialog.modal-dialog-centered(role='document')
        .modal-content
          .modal-header.border-0.fsp-blue.text-light
            h5.modal-title.text-center.col-11
              | Actualización de usuario
            button.close.fs.col-1(type='button' data-dismiss='modal' aria-label='Close')
              span(aria-hidden='true') &times;
          .modal-body
            form.needs-validation(novalidate="", action='/home/users/update/', method='post')
              .form-row
                .col-md-12.mb-12
                  label.col-form-label.col-form-label-sm(for='name')
                    | Nombre (s):
                  input#name.form-control.form-control-sm(type='text' name='name' minlength='2' maxlength='50' pattern='[a-zA-ZÁÉÍÓÚÑ-ñáéíóú\\s0-9]+' aria-label="user name" aria-describedby='user name' required='')
                  .invalid-tooltip
                    | Ingrese el nombre del usuario
                .col-md-12.mb-12
                  label.col-form-label.col-form-label-sm(for='first_name')
                    | Apellido paterno:
                  input#first_name.form-control.form-control-sm(type='text' name='first_name' minlength='2' maxlength='50' pattern='[a-zA-ZÁÉÍÓÚÑ-ñáéíóú\\s0-9]+' aria-label="user first name" aria-describedby='user first name' required='')
                  .invalid-tooltip
                    | Ingrese el apellido paterno del usuario
                .col-md-12.mb-12
                  label.col-form-label.col-form-label-sm(for='last_name')
                    | Apellido materno:
                  input#last_name.form-control.form-control-sm(type='text' name='last_name' minlength='2' maxlength='50' pattern='[a-zA-ZÁÉÍÓÚÑ-ñáéíóú\\s0-9]+' aria-label="user last name" aria-describedby='user last name' required='')
                  .invalid-tooltip
                    | Ingrese el apellido materno del usuario
              .form-row
                .col-md-12.mb-12
                  label.col-form-label.col-form-label-sm(for='email')
                    | Correo electrónico:
                  input#email.form-control.form-control-sm(type='email' name='email' minlength='2' maxlength='50' pattern=".+@fsanpablo.com" size="30" aria-label="user email" aria-describedby='user email' required='')
                  small#emailHelp.form-text
                    | * Solo es posible registrar correos con dominio @fsanpablo.com
                  .invalid-tooltip
                    | Ingrese el correo electrónico del usuario
                .col-md-12.mb-12
                  label.col-form-label.col-form-label-sm(for='rol')
                    | Rol:
                  select#role.custom-select.custom-select-sm(required='' name='role')
                  .invalid-tooltip
                    | Seleccione un rol para el usuario
                .col-md-12.mb-3
                  input#id.form-control.form-control-sm(type='hidden' pattern='[0-9]+' minlength='1' maxlength='3' name='id' aria-label="division id" aria-describedby='division id')
              .form-row
                .input-group.input-group-sm.mb-3
                  .custom-control.custom-switch.input-group-sm.w-auto.col-12.text-center
                    input#switch-active.custom-control-input.w-auto(type="checkbox" name='status')
                    label.custom-control-label(for="switch-active")
                      | Activar
                button.btn.btn-outline-dark.btn-light.btn-sm.text-center.col-12(type='submit')
                  | Actualizar