extends ../layout
block content
  block body
    section.h-100.overflow-auto
      article.h-100
        block section
          .container-fluid.h-100
            .row.h-100
              .col-sm-12.col-md-12.col-lg-12.col-xl-12.h-100.p-0
                if data.length > 0
                  #carouselExampleIndicators.carousel.slide(data-ride='carousel')
                    .carousel-inner(role='listbox')
                        each val, index in data
                          if index == 0 
                            if val.type == "imagen"
                              .carousel-item.active(style=`background-image: url(${val.link});background-size: 100% 100%;`, data-interval=val.interval)
                            else if val.type == "video"
                              .carousel-item.active(style=`background-size: 100% 100%;`, data-interval=val.interval)
                                video#myVideo.embed-responsive.embed-responsive-21by9(controls='', loop='')
                                  source(src=val.link, type=val.mimetype)
                            else
                              .carousel-item(style='background-image: url("images/preview.png");background-size: 100% 100%;', data-interval=val.interval)
                          else 
                            if val.type == "imagen"
                              .carousel-item(style=`background-image: url(${val.link});background-size: 100% 100%;`, data-interval=val.interval)
                            else if val.type == "video"
                              .carousel-item(style=`background-size: 100% 100%;`, data-interval=val.interval)
                                video#myVideo.embed-responsive.embed-responsive-21by9(controls='', loop='')
                                  source(src=val.link, type=val.mimetype)
                            else
                              .carousel-item(style='background-image: url("images/preview.png");background-size: 100% 100%;', data-interval=val.interval)
                    a.carousel-control-prev(href='#carouselExampleIndicators', role='button', data-slide='prev')
                      span.carousel-control-prev-icon(aria-hidden='true')
                      span.sr-only Previous
                    a.carousel-control-next(href='#carouselExampleIndicators', role='button', data-slide='next')
                      span.carousel-control-next-icon(aria-hidden='true')
                      span.sr-only Next
                else
                  .m-5.p-5.alert.alert-danger.alert-dismissible.fade.show.text-center(role='alert')
                    strong=message
                    button.close(type='button' data-dismiss='alert' aria-label='Close')
                      span(aria-hidden='true') &times;