extends layout
block content
  block head
    nav.h-auto.navbar.navbar-expand-lg.border-0
      a.navbar-brand(href='https://www.farmaciasanpablo.com.mx' target="__blank")
        img.img-fluid(src='/images/base/fsp-logo.png' alt='')
      .btn-group.ml-auto
        button.btn.dropdown-toggle.text-light.fsp-nav-button(type='button' data-toggle='dropdown' data-display='static' aria-haspopup='true' aria-expanded='false')
          svg.bi.bi-list(width='1.5em' height='1.5em' viewbox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg')
            path(fill-rule='evenodd' d='M2.5 11.5A.5.5 0 013 11h10a.5.5 0 010 1H3a.5.5 0 01-.5-.5zm0-4A.5.5 0 013 7h10a.5.5 0 010 1H3a.5.5 0 01-.5-.5zm0-4A.5.5 0 013 3h10a.5.5 0 010 1H3a.5.5 0 01-.5-.5z' clip-rule='evenodd')
        .dropdown-menu.dropdown-menu-lg-right.ml-auto.fsp-nav-div(style='left: -120px;')
          a.dropdown-item.text-decorator.text-light.fsp-nav-div-button(href="" data-toggle="modal" data-target="#help" )
            svg.bi.bi-question-circle-fill(width="1em" height="1em" viewbox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg")
              path(fill-rule="evenodd" d="M16 8A8 8 0 110 8a8 8 0 0116 0zM6.57 6.033H5.25C5.22 4.147 6.68 3.5 8.006 3.5c1.397 0 2.673.73 2.673 2.24 0 1.08-.635 1.594-1.244 2.057-.737.559-1.01.768-1.01 1.486v.355H7.117l-.007-.463c-.038-.927.495-1.498 1.168-1.987.59-.444.965-.736.965-1.371 0-.825-.628-1.168-1.314-1.168-.901 0-1.358.603-1.358 1.384zm1.251 6.443c-.584 0-1.009-.394-1.009-.927 0-.552.425-.94 1.01-.94.609 0 1.028.388 1.028.94 0 .533-.42.927-1.029.927z" clip-rule="evenodd")
            |  Ayuda
  block body
    section.h-100.overflow-auto
      article.h-100
        block section
  #help.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalCenterTitle' aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document')
      .modal-content
        .modal-header.border-0.fsp-blue.text-light
          h5.modal-title.text-center.col-11
            | Ayuda
          button.close.fs.col-1(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body
          .alert.alert-warning.alert-dismissible.fade.show.text-center(role='alert')
            strong
              | Si tiene problemas con la aplicación favor de contactar con el administrador.
  block footer
    footer
      p.text-center.text-light
        small
          | Todos los derechos reservados 2020 &copy; Farmacia San Pablo