doctype html
html
  head
    title Tele Informe CEDIS
    link(rel='icon' href='/images/base/favicon.ico')
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='stylesheet' href='/css/bootstrap.min.css')
    link(rel='stylesheet' href='/css/jquery.dataTables.min.css')
    link(rel='stylesheet' href='/stylesheets/style.css')
  body.h-100.d-flex.flex-column.fsp-blue
    block content
    script(src='/js/jquery.slim.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/popper.min.js')
    script(src='/js/jquery.dataTables.min.js')
    script(src='/javascripts/datatable-config.js')
    script(src='/javascripts/file.js')
    script(src='/javascripts/tooltip.js')
    script(src='/javascripts/validation.js')
    script(src='/javascripts/utils.js')