html,
body {
    height: 100%;
}

.fsp-nav {
    background-color: #0072C7;
}

.fsp-nav-button:hover {
    background-color: #005DA3;
}

.fsp-nav-div {
    background-color: #005DA3;
}

.fsp-nav-div-button:hover {
    background-color: #337DB5;
}

.fsp-blue {
    background-color: #0072C7;
}

.fsp-green {
    background-color: #9ECC50;
}

.fsp-white {
    background-color: #FFFFFF;
}

#menu {
    padding: 0px;
    max-height: 100%;
    height: auto !important;
    height: 100%;
    overflow-y: auto;
}

.zoom {
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
}

.zoom:hover,
.zoom:active,
.zoom:focus {
    -ms-transform: scale(2.5);
    -moz-transform: scale(2.5);
    -webkit-transform: scale(2.5);
    -o-transform: scale(2.5);
    transform: scale(2.5);
    position: relative;
    z-index: 100;
}

.previewMultimedia {
    width: 100px;
    height: 100px;
}

@media only screen and (max-width: 768px) {
    ul.gallery {
        margin-left: 15vw;
        margin-right: 15vw;
    }
    .DivName {
        cursor: pointer
    }
}

.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.previewMultimedia0 {
    width: 100px;
    height: 100px;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}