extends ../index
block section
  .container-fluid.h-100
    .row.h-100
      .col-sm-12.col-md-12.col-lg-12.col-xl-12.h-100.align-items-center.justify-content-center.d-flex
        .card.mb-3.border-0(style='max-width: 540px;')
          .row.no-gutters
            .col-5.col-sm-5.col-md-5.col-lg-5.col-xl-5
              img.h-100.w-100.card-img.img-fluid(src='/images/login/fsp-login.png' alt='...')
            .col-7.col-sm-7.col-md-7.col-lg-7.col-xl-7
              h1.h4.text-center.pt-4(style='color: #0072C7;')
                | Tele Informe CEDIS
              hr(style='color: #0072C7;')
              if message
                .alert.alert-danger.alert-dismissible.fade.show.text-center(role='alert')
                    strong=message
                    button.close(type='button' data-dismiss='alert' aria-label='Close')
                      span(aria-hidden='true') &times;
              .text-center
                img.img-fluid(src="/images/home/user.png" width="80" height="80" alt="login")
              form.p-4.needs-validation(novalidate="", action='/login/authentication', method='post')
                .form-row
                  .col-12.col-sm-12.col-md-12.col-lg-12.col-xl-12
                    label.col-form-label.col-form-label-sm(for='name')
                      | Correo electrónico:
                    input#email.form-control.form-control-sm(type='email' name='email' minlength='2' maxlength='50' pattern=".+@fsanpablo.com" size="30" aria-label="user email" aria-describedby='user email' required='')
                    .invalid-tooltip
                      | Ingrese su correo electrónico de usuario
                  .col-12.col-sm-12.col-md-12.col-lg-12.col-xl-12
                    label.col-form-label.col-form-label-sm(for='name')
                      | Contraseña:
                    input#password.form-control.form-control-sm(type='password' name='password' minlength='2' maxlength='50' size="30" aria-label="user password" aria-describedby='user password' required='')
                    .invalid-tooltip
                      | Ingrese su contraseña de usuario
                .form-row
                  .col-12.col-sm-12.col-md-12.col-lg-12.col-xl-12.pt-4
                    button.btn.btn-primary.btn-sm.text-center.col-12(type='submit')
                      | Acceder