extends ../index
block section
  .container-fluid.h-100
    .row.h-100
      #menu.col-sm-12.col-md-2.col-lg-2.col-xl-2.fsp-white
        .card.border-0
          .card-body
            .text-center.pb-2
              img.img-fluid(src="/images/home/user.png" width="80" height="80" alt="login")
              if user
                each val in user
                  h5.card-title.text-center.h6 #{val.name} #{val.first_name} #{val.last_name}
                  .card-title.text-center.badge.badge-primary.text-wrap.align-items-center.justify-content-center.d-flex=val.role
            .card-title.text-center.badge.badge-light.text-wrap.align-items-center.justify-content-center.d-flex.border.border-danger
              a.text-danger(href="/login/logout") 
                svg.bi.bi-power(width='1em', height='1em', viewBox='0 0 16 16', fill='currentColor', xmlns='http://www.w3.org/2000/svg')
                  path(fill-rule='evenodd', d='M5.578 4.437a5 5 0 1 0 4.922.044l.5-.866a6 6 0 1 1-5.908-.053l.486.875z')
                  path(fill-rule='evenodd', d='M7.5 8V1h1v7h-1z')
                |   Cerrar sesión
        if permissions
          each val in permissions
            if val.name == 'Roles'
              a.list-group-item.list-group-item-action.border-bottom.col-form-label-sm(href="/home/roles")
                svg.bi.bi-pip-fill(width="1.5em" height="1.5em" viewbox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg")
                  path(fill-rule="evenodd" d="M1.5 2A1.5 1.5 0 000 3.5v9A1.5 1.5 0 001.5 14h13a1.5 1.5 0 001.5-1.5v-9A1.5 1.5 0 0014.5 2h-13zm7 6a.5.5 0 00-.5.5v3a.5.5 0 00.5.5h5a.5.5 0 00.5-.5v-3a.5.5 0 00-.5-.5h-5z" clip-rule="evenodd") 
                |   Roles
            if val.name == 'Usuarios'
              a.list-group-item.list-group-item-action.border-bottom.col-form-label-sm(href="/home/users")
                svg.bi.bi-people-fill(width="1.5em" height="1.5em" viewbox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg")
                   path(fill-rule="evenodd" d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 100-6 3 3 0 000 6zm-5.784 6A2.238 2.238 0 015 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 005 9c-4 0-5 3-5 4s1 1 1 1h4.216zM4.5 8a2.5 2.5 0 100-5 2.5 2.5 0 000 5z" clip-rule="evenodd")
                |   Usuarios
            if val.name == 'Divisiones'
              a.list-group-item.list-group-item-action.border-bottom.col-form-label-sm(href="/home/divisions")
                svg.bi.bi-grid-fill(width="1.5em" height="1.5em" viewbox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg")
                  path(fill-rule="evenodd" d="M1 2.5A1.5 1.5 0 012.5 1h3A1.5 1.5 0 017 2.5v3A1.5 1.5 0 015.5 7h-3A1.5 1.5 0 011 5.5v-3zm8 0A1.5 1.5 0 0110.5 1h3A1.5 1.5 0 0115 2.5v3A1.5 1.5 0 0113.5 7h-3A1.5 1.5 0 019 5.5v-3zm-8 8A1.5 1.5 0 012.5 9h3A1.5 1.5 0 017 10.5v3A1.5 1.5 0 015.5 15h-3A1.5 1.5 0 011 13.5v-3zm8 0A1.5 1.5 0 0110.5 9h3a1.5 1.5 0 011.5 1.5v3a1.5 1.5 0 01-1.5 1.5h-3A1.5 1.5 0 019 13.5v-3z" clip-rule="evenodd")
                |   Divisiones
            if val.name == 'Dispositivos'
              a.list-group-item.list-group-item-action.border-bottom.col-form-label-sm(href="/home/devices")
                svg.bi.bi-display-fill(width="1.5em" height="1.5em" viewbox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg")
                  path(d="M5.75 13.5c.167-.333.25-.833.25-1.5h4c0 .667.083 1.167.25 1.5H11a.5.5 0 010 1H5a.5.5 0 010-1h.75z")
                  path(fill-rule="evenodd" d="M13.991 3H2c-.325 0-.502.078-.602.145a.758.758 0 00-.254.302A1.46 1.46 0 001 4.01V10c0 .325.078.502.145.602.07.105.17.188.302.254a1.464 1.464 0 00.538.143L2.01 11H14c.325 0 .502-.078.602-.145a.758.758 0 00.254-.302 1.464 1.464 0 00.143-.538L15 9.99V4c0-.325-.078-.502-.145-.602a.757.757 0 00-.302-.254A1.46 1.46 0 0013.99 3zM14 2H2C0 2 0 4 0 4v6c0 2 2 2 2 2h12c2 0 2-2 2-2V4c0-2-2-2-2-2z" clip-rule="evenodd")
                  path(d="M2 4h12v6H2z")
                |   Dispositivos
            if val.name == 'Multimedia'
              a.list-group-item.list-group-item-action.border-bottom.col-form-label-sm(href="/home/multimedia")
                svg.bi.bi-images(width="1.5em" height="1.5em" viewbox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg")
                  path(fill-rule="evenodd" d="M12.002 4h-10a1 1 0 00-1 1v8a1 1 0 001 1h10a1 1 0 001-1V5a1 1 0 00-1-1zm-10-1a2 2 0 00-2 2v8a2 2 0 002 2h10a2 2 0 002-2V5a2 2 0 00-2-2h-10z" clip-rule="evenodd")
                  path(d="M10.648 8.646a.5.5 0 01.577-.093l1.777 1.947V14h-12v-1l2.646-2.354a.5.5 0 01.63-.062l2.66 1.773 3.71-3.71z")
                  path(fill-rule="evenodd" d="M4.502 9a1.5 1.5 0 100-3 1.5 1.5 0 000 3zM4 2h10a1 1 0 011 1v8a1 1 0 01-1 1v1a2 2 0 002-2V3a2 2 0 00-2-2H4a2 2 0 00-2 2h1a1 1 0 011-1z" clip-rule="evenodd")
                |   Multimedia
            if val.name == 'Carousel'
              a.list-group-item.list-group-item-action.border-bottom.col-form-label-sm(href="/home/carousel")
                svg.bi.bi-collection-play(width='1.5em', height='1.5em', viewBox='0 0 16 16', fill='currentColor', xmlns='http://www.w3.org/2000/svg')
                  path(fill-rule='evenodd', d='M14.5 13.5h-13A.5.5 0 011 13V6a.5.5 0 01.5-.5h13a.5.5 0 01.5.5v7a.5.5 0 01-.5.5zm-13 1A1.5 1.5 0 010 13V6a1.5 1.5 0 011.5-1.5h13A1.5 1.5 0 0116 6v7a1.5 1.5 0 01-1.5 1.5h-13zM2 3a.5.5 0 00.5.5h11a.5.5 0 000-1h-11A.5.5 0 002 3zm2-2a.5.5 0 00.5.5h7a.5.5 0 000-1h-7A.5.5 0 004 1z', clip-rule='evenodd')
                  path(fill-rule='evenodd', d='M6.258 6.563a.5.5 0 01.507.013l4 2.5a.5.5 0 010 .848l-4 2.5A.5.5 0 016 12V7a.5.5 0 01.258-.437z', clip-rule='evenodd')
                |   Carousel
        else
          | No hay resultados
      .col-sm-12.col-md-10.col-lg-10.col-xl-10.h-100.p-0.fsp-white.border-left.overflow-auto
        block action