extends ../home-view
block action
  .container-fluid.h-100
    .row.h-auto
      .col-sm-12.col-md-12.col-lg-12.col-xl-12.h-auto.p-0
        .container-fluid
          .row
            .col-sm-12.col-md-12.col-lg-12.col-xl-12.pt-2.pl-2.pr-2
              if roles
                button.btn.btn-dark.w-100(type='button')
                  | Roles existentes 
                  span.badge.badge-light= roles.length 
            .col-sm-12.col-md-12.col-lg-12.col-xl-12.pt-2.pl-2.pr-2.pb-2
              if message 
                if code == 500
                  .alert.alert-danger.alert-dismissible.fade.show.text-center(role='alert')
                    strong=message
                    button.close(type='button' data-dismiss='alert' aria-label='Close')
                      span(aria-hidden='true') &times;
                else if code == 201
                  .alert.alert-success.alert-dismissible.fade.show.text-center(role='alert')
                    strong=message
                    button.close(type='button' data-dismiss='alert' aria-label='Close')
                      span(aria-hidden='true') &times;
              .card.w-100
                .card-body
                  nav
                    #nav-tab.nav.nav-tabs(role="tablist")
                      a#nav-home-tab.nav-item.nav-link.active(data-toggle="tab" href="#nav-search" role="tab" aria-controls="nav-search" aria-selected="true")
                        | Consultar roles existentes
                      a#nav-profile-tab.nav-item.nav-link(data-toggle="tab" href="#nav-create" role="tab" aria-controls="nav-create" aria-selected="false")
                        | Crear un nuevo rol
                    #nav-tabContent.tab-content
                      #nav-search.tab-pane.fade.show.active(role="tabpanel" aria-labelledby="nav-home-tab")
                        .col-sm-12.col-md-12.col-lg-12.col-xl-12.overflow-auto
                          br
                          table#tableContent.table(style="width:100%")
                            thead
                              tr
                                th.col-form-label-sm Número
                                th.col-form-label-sm Nombre
                                th.col-form-label-sm Fecha de creación
                                th.col-form-label-sm Fecha de modificación
                                th.col-form-label-sm Estatus
                                th.col-form-label-sm Permisos
                                th.col-form-label-sm
                            tbody
                              if roles
                                each value in roles
                                  tr
                                    td.col-form-label-sm= value.id
                                    td.col-form-label-sm= value.name
                                    td.col-form-label-sm= value.creation_date
                                    td.col-form-label-sm= value.modification_date
                                    td.col-form-label-sm= value.status
                                    td.col-form-label-sm
                                      a.btn.btn-outline-primary.btn-sm(href="" data-toggle="modal" data-target="#showPermissions" data-whatever= value.id)
                                        svg.bi.bi-eye(width='1em', height='1em', viewBox='0 0 16 16', fill='currentColor', xmlns='http://www.w3.org/2000/svg')
                                          path(fill-rule='evenodd', d='M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.134 13.134 0 001.66 2.043C4.12 11.332 5.88 12.5 8 12.5c2.12 0 3.879-1.168 5.168-2.457A13.134 13.134 0 0014.828 8a13.133 13.133 0 00-1.66-2.043C11.879 4.668 10.119 3.5 8 3.5c-2.12 0-3.879 1.168-5.168 2.457A13.133 13.133 0 001.172 8z', clip-rule='evenodd')
                                          path(fill-rule='evenodd', d='M8 5.5a2.5 2.5 0 100 5 2.5 2.5 0 000-5zM4.5 8a3.5 3.5 0 117 0 3.5 3.5 0 01-7 0z', clip-rule='evenodd')
                                    td.col-form-label-sm
                                      a.btn.btn-outline-primary.btn-sm(href="" data-toggle="modal" data-target="#editRoles" data-whatever= value.id)
                                        svg.bi.bi-pencil-square(width="1em" height="1em" viewbox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg")
                                          path(d="M15.502 1.94a.5.5 0 010 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 01.707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 00-.121.196l-.805 2.414a.25.25 0 00.316.316l2.414-.805a.5.5 0 00.196-.12l6.813-6.814z")
                                          path(fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 002.5 15h11a1.5 1.5 0 001.5-1.5v-6a.5.5 0 00-1 0v6a.5.5 0 01-.5.5h-11a.5.5 0 01-.5-.5v-11a.5.5 0 01.5-.5H9a.5.5 0 000-1H2.5A1.5 1.5 0 001 2.5v11z" clip-rule="evenodd")
                      #nav-create.tab-pane.fade(role="tabpanel" aria-labelledby="nav-profile-tab")
                        form.needs-validation(novalidate="", action='/home/roles/', method='post')
                          .form-row
                            .col-md-12.mb-3
                              label.col-form-label.col-form-label-sm(for="name")
                                | Nombre:
                          .input-group.input-group-sm.mb-3
                            input.form-control(type="text" pattern="[a-zA-ZÁÉÍÓÚÑ-ñáéíóú\\s0-9]+" minlength="2" maxlength="30" name='name' aria-label="Recipient's username" aria-describedby="button-addon2" required="")
                            .input-group-append
                              button#btn-permissions.btn.btn-outline-dark.btn-warning(type="button")
                                | Agregar permisos
                            .invalid-tooltip
                              | Ingrese el nombre del rol
                          div.input-group.input-group-sm.w-25
                            table.table
                              tbody#tbody-permissions
                          .input-group.input-group-sm.mb-3
                            .custom-control.custom-switch.input-group-sm.w-auto.col-12
                              input#customSwitch6.custom-control-input.w-auto(type="checkbox" name='status' value='1' required)
                              label.custom-control-label(for="customSwitch6")
                              | Activar
                              .invalid-tooltip
                                | Active el rol
                          button.btn.btn-outline-dark.btn-primary.btn-sm.text-light(type="submit")
                            | Crear
    #showPermissions.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalCenterTitle' aria-hidden='true')
      .modal-dialog.modal-dialog-centered(role='document')
        .modal-content
          .modal-header.border-0.fsp-blue.text-light
            h5.modal-title.text-center.col-11
              | Permisos del rol
            button.close.fs.col-1(type='button' data-dismiss='modal' aria-label='Close')
              span(aria-hidden='true') &times;
          .modal-body.fsp-white.text-dark
            .form-row
              .col-md-12.mb-3
                #no-result-alert
                ul#ul-permissions.list-group
    #editRoles.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalCenterTitle' aria-hidden='true')
      .modal-dialog.modal-dialog-centered(role='document')
        .modal-content
          .modal-header.border-0.fsp-blue.text-light
            h5.modal-title.text-center.col-11
              | Actualización de rol
            button.close.fs.col-1(type='button' data-dismiss='modal' aria-label='Close')
              span(aria-hidden='true') &times;
          .modal-body
            form.needs-validation(novalidate="", action='/home/roles/update/', method='post')
              .form-row
                .col-md-12.mb-3
                  label.col-form-label.col-form-label-sm(for="name")
                    | Nombre:
                  input#name.form-control.form-control-sm(type="text" pattern="[a-zA-ZÁÉÍÓÚÑ-ñáéíóú\\s0-9]+" minlength="2" maxlength="30" name='name' aria-label="Recipient's username" aria-describedby="button-addon2" required="")
                  .invalid-tooltip
                    | Ingrese el nombre del rol
                .col-md-12.mb-3
                  input#id.form-control.form-control-sm(type='hidden' pattern='[0-9]+' minlength='1' maxlength='3' name='id' aria-label="division id" aria-describedby='division id')
                  div.input-group.input-group-sm.w-100
                    table#table-per.table
              .form-row
                .input-group.input-group-sm.mb-3
                  .custom-control.custom-switch.input-group-sm.w-auto.col-12.text-center
                    input#switch-active.custom-control-input.w-auto(type="checkbox" name='status')
                    label.custom-control-label(for="switch-active")
                      | Activar
                button.btn.btn-outline-dark.btn-light.btn-sm.text-center.col-12(type='submit')
                  | Actualizar